{% extends 'base.html' %}
{% load static %}

{% block title %}{{ product.name }}{% endblock %}

{% block content %}


  <div class="post__card-wrapper">
        <h2 class="post__title-detail">{{post.title}}</h2>
        <div class="post__body">{{post.body}}</div>
            {% if post.image %}
            <div class="post_detail__img"><img class="post_detail__img_img" src="{{ post.image.url }}" alt="{{ post.name }}"></div>
            {% endif %}


        <div class="post_info-blok">
            <div class="post_info">Автор публикации: {{post.author}}</div>
            <div class="post_info">Категория: {{post.category}}</div>
            <div class="post_info">Дата публикации: {{post.created_at|date:"d.m.y H:i"}}</div>
        </div>

        <div class="post_choice-menu">
             {% csrf_token %}
            <div><a class="buttonSimp"  href="{% url 'blog:posts' %}">На главную</a></div>
            <div><a class="buttonSimp" href="{% url 'blog:edit_post' post.id %}">Редактировать пост</a></div>
            <div><a class="buttonSimp"  href="{% url 'blog:send_email' %}">Отправить сообщение владельцу</a></div>
            <div><a class="buttonSimp" href="{% url 'blog:delete_post' post.id %}">Удалить пост</a></div>
        </div>
    </div>
{% endblock %}