version: '3.8'

services:
  backend:
    build: .
    command: gunicorn apps.wsgi:application --bind 0.0.0.0:8000
    volumes:
      - .:/code
      - static_volume:/code/static_collected
    ports:
      - "8000:8000"
    depends_on:
      - postgres
    env_file:
      - .env
    environment:
      - DEBUG=True
      - SECRET_KEY=django-insecure-87j5lne(x@wvy-*6t86(t&))aq8!e!)7qbj_4uv+c2
      - EMAIL_HOST_USER=alex.ponomarov@mail.ru
      - EMAIL_HOST_PASSWORD=HCv2PqzjZlzfXtraa7bw
      - TIME_ZONE=Europe/Minsk
      - USE_TZ=True
    networks:
      - app_net

  celery_worker:
    build: .
    command: celery -A apps worker -l info
    volumes:
      - .:/code
    depends_on:
      - postgres
      - redis
    env_file:
      - .env
    environment:
      - DEBUG=True
      - SECRET_KEY=django-insecure-87j5lne(x@wvy-*6t86(t&))aq8!e!)7qbj_4uv+c2
      - EMAIL_HOST_USER=alex.ponomarov@mail.ru
      - EMAIL_HOST_PASSWORD=HCv2PqzjZlzfXtraa7bw
      - TIME_ZONE=Europe/Minsk
      - USE_TZ=True
    networks:
      - app_net

  celery_beat:
    build: .
    command: celery -A apps beat -l info
    volumes:
      - .:/code
    depends_on:
      - postgres
      - redis
    env_file:
      - .env
    environment:
      - DEBUG=True
      - SECRET_KEY=django-insecure-87j5lne(x@wvy-*6t86(t&))aq8!e!)7qbj_4uv+c2
      - EMAIL_HOST_USER=alex.ponomarov@mail.ru
      - EMAIL_HOST_PASSWORD=HCv2PqzjZlzfXtraa7bw
      - TIME_ZONE=Europe/Minsk
      - USE_TZ=True
    networks:
      - app_net

  postgres:
    image: postgres:latest
    restart: always
    environment:
      POSTGRES_DB: Apps_9D_PSQL
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 240484
    volumes:
      - postgres_data:/var/lib/postgresql
    networks:
      - app_net

  redis:
    image: redis:alpine
    restart: always
    networks:
      - app_net

  nginx:
    image: nginx:stable-alpine
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
    ports:
      - "80:80"
    depends_on:
      - backend

volumes:
  postgres_data:
  static_volume:

networks:
  app_net:
    driver: bridge