version: '3.8'

services:
  backend:
    build: .
    command: gunicorn apps.wsgi:application --bind 0.0.0.0:8000
    volumes:
      - .:/code
      - static_volume:/code/static_collected
    ports:
      - "8000:8000"
    depends_on:
      - postgres
    env_file:
      - .env
    networks:
      - app_net



  postgres:
    image: postgres:latest
    restart: always
    env_file:
      - .env
    volumes:
      - postgres_data:/var/lib/postgresql
    networks:
      - app_net

  nginx:
    image: nginx:stable-alpine
    volumes:
      - ./default.conf:/etc/nginx/conf.d/default.conf
    ports:
      - "80:80"
    depends_on:
      - backend
    networks:
      - app_net

volumes:
  postgres_data:
  static_volume:

networks:
  app_net:
    driver: bridge