version: '3.8'

services:
  backend:
    build: .
    command: gunicorn apps.wsgi:application --bind 0.0.0.0:8000
    volumes:
      - .:/code
      - static_volume:/code/static_collected
    ports:
      - "8000:8000"
    depends_on:
      - postgres
    env_file:
      - .env
    networks:
      - app_net

  celery_worker:
    build: .
    command: celery -A apps worker -l info
    volumes:
      - .:/code
    depends_on:
      - postgres
      - redis
    env_file:
      - .env
    networks:
      - app_net

  celery_beat:
    build: .
    command: celery -A apps beat -l info
    volumes:
      - .:/code
    depends_on:
      - postgres
      - redis
    env_file:
      - .env
    networks:
      - app_net

  postgres:
    image: postgres:latest
    restart: always
    environment:
      POSTGRES_DB: Apps_9D_PSQL
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 240484
    volumes:
      - postgres_data:/var/lib/postgresql
    networks:
      - app_net

  redis:
    image: redis:alpine
    restart: always
    networks:
      - app_net

  nginx:
    image: nginx:stable-alpine
    volumes:
      - ./default.conf:/etc/nginx/conf.d/default.conf
    ports:
      - "80:80"
    depends_on:
      - backend
    networks:
      - app_net

volumes:
  postgres_data:
  static_volume:

networks:
  app_net:
    driver: bridge
