{% extends "base.html" %}

{% block content %}
<div class="wrapper">
    <h1 class="title_page registration__title_page">Регистрация</h1>

    <form method="post" action="{% url 'registration:register' %}">
        {% csrf_token %}
<!--        {{ form.as_p }}-->

                    <div class="form-group" >
                        <label for="id_username"></label>
                        {{ form.username }}
                    </div>
                    <div class="form-group">
                        <label for="id_email"></label>
                        {{ form.email }}
                    </div>
                    <div class="form-group">
                        <label for="id_password"></label>
                        {{ form.password }}
                    </div>
                    <div class="form-group">
                        <label for="id_password2"></label>
                        {{ form.password2 }}
                    </div>


        <div  class = 'pageRegisterButton'>
            <div><button class="buttonSimpForm" type="submit">Зарегистрироваться</button></div>
            <div>Уже есть аккаунт? <a class="buttonSimp" href="{% url 'registration:login' %}">Войти</a></div>
        </div>
    </form>
</div>
{% endblock %}