

/*Style POST START*/
.post__title-all{
font-size: 26px;
font-weight: 700;
text-align: center;
color: black;
}
 .post__title-box{
display: flex;
justify-content: space-between;
align-items: center;
margin-bottom: 15px;
border-bottom: 1px solid #9d9d9d;
}

.post__card-wrapper{
    margin-top: 40px;
    display: flex;
    flex-direction: column;  
    align-items: stretch;   
}
.post__body {
    flex-grow: 1;           
    overflow-wrap: break-word; 
    word-wrap: break-word;   
    hyphens: auto;       
    color: #000;  

}

.post__img {
    border-radius: 5px;
    overflow: hidden;
    transition: transform .3s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    max-width: 100%;
    /* max-height: 200px; */
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;

    &:hover {
        transform: scale(1.01);
    }
}

.post__img_img{
display: block;
width: 100%;
height: auto;
object-fit: cover;
}
/*Style POST START*/



/*Style INFO_ABOUT_POST START*/
.post_info-blok{
    margin-top: 20px;
    margin-bottom: 25px;
    }
.post_info{
    text-align: right;
    color: #2b960b;
}
/*Style INFO_ABOUT_POST end*/


/*Style POST_DETAIL START*/
.post__title-detail{
font-size: 26px;
font-weight: 700;
text-align: center;
color: black;
margin-bottom: 30px;
}

.post_choice-menu {
margin-top: 60px;
display: flex;
justify-content: space-between;
align-items: center;
}

.post_detail__img{
max-width: 100%;
margin-top: 20px;
margin-bottom: 20px;
text-align: center;
}

.post_detail__img_img{
/*width: 700px;*/
display: block;
width: 100%;
height: auto;
object-fit: contain;
}
/*Style POST_DETAIL END*/



/*Style POST_CATEGORY START*/
.post_category__styles {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.post__category_buttons strong {
    display: inline-flex;    /* Ведёт себя аналогично кнопкам */
    align-items: center;     /* Центровка по вертикали */
    justify-content: center; /* Центрирование по горизонтали */
    padding: 6px 12px;       /* Соответствующие отступы */
    margin-right: 10px;      /* Правильный отступ справа */
    font-size: 14px;
    color: #000000;
    text-transform: uppercase;
}

.post__category_buttons {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 6px 12px;
    background-color: #b99e75; 
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 14px;
    /* font-weight: bold; */
    text-transform: uppercase;
    /* letter-spacing: 1px; */
    transition: background-color 0.3s ease-in-out;
}

.post__category_buttons:hover {
    background-color: #0056b3; 
}
/*Style POST_CATEGORY END*/










































/*Style cards MEDIA START*/
@media (max-width: 600px) {
  .post {
    flex-basis: 100%;
  }
}
/*Style cards MEDIA END*/

.pageAddPostButton,
.pageLoginButton,
.pageRegisterButton,
.pageEditPostButton{
    display: flex;
    justify-content: space-between;
    align-items: center;
}









        





        