/*Style POST START*/
.posts__title-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.title_page_blog {
    margin-top: 10px;
}

.post__category_styles{
    margin-bottom: 40px;
}

.post__title-all{
font-family: 'Roboto', sans-serif;
text-transform: uppercase;
letter-spacing: 8px;
text-align: center;
font-size: 22px;
font-weight: 600;
color: #000000;
margin-bottom: 5px;

}
.post__title-box{
display: flex;
justify-content: space-between;
align-items: center;
margin-bottom: 15px;
border-bottom: 1px solid #9d9d9d;
}


/*.post__cards-wrapper{
  display: flex;
  flex-direction: column;
}*/
/*.post__card-wrapper{
    display: flex;
    flex-direction: column;
}*/
.post__body-img-wrapper{
    display: flex;
    flex-direction: column;
}
.post__body {
    background-color: white; /* This */
    flex-grow: 1;
    white-space: pre-line;

    /*white-space: normal;
    word-wrap: break-word;
    line-height: normal;
    overflow-wrap: anywhere;*/

    text-align: justify;      /* Выравнивание текста по обоим краям (по желанию) */
    line-height: 1.6;         /* Межстрочное расстояние */
    word-wrap: break-word; /* Поддержка для старых браузеров */
    overflow-wrap: break-word; /* Современное свойство */
    -webkit-hyphens: auto; /* Safari */
    -moz-hyphens: auto;    /* Firefox */
    -ms-hyphens: auto;     /* IE10+ */
    hyphens: auto;         /* Включаем поддержку переносов в браузере */
}

.post__img {
    border-radius: 5px;
    overflow: hidden;
    transition: transform .3s ease-in-out;
    box-shadow: 0 2px 8px  rgba(0, 0, 0, 0.7);
    max-width: 100%;
    text-align: center;
    &:hover {
        transform: scale(1.015);
    }
}

.post__img_img{
display: block;
width: 100%;
height: auto;
object-fit: cover;
}
/*Style POST END*/



/*Style INFO_ABOUT_POST START*/
.post_info-blok{
    display: flex;
    flex-direction: column; /
    margin-bottom: 40px;
    }
.post_info{
    text-align: right;
    color: black;
}
/*Style INFO_ABOUT_POST end*/


/*Style POST_DETAIL START*/
.post__title-detail{
font-family: 'Roboto', sans-serif;
text-transform: uppercase;
letter-spacing: 8px;
font-size: 26px;
font-weight: 700;
text-align: center;
color: black;
margin-bottom: 30px;
}

.post_choice-menu {
margin-top: 60px;
display: flex;
justify-content: space-between;
align-items: center;
}

.post_detail__img{
max-width: 100%;
margin-top: 20px;
margin-bottom: 20px;
text-align: center;
box-shadow: 0 2px 8px  rgba(0, 0, 0, 0.7);
border-radius: 5px;

}

.post_detail__img_img{
/*width: 700px;*/
display: block;
width: 100%;
height: auto;
object-fit: contain;
}
/*Style POST_DETAIL END*/



/*Style POST_CATEGORY START*/
.post_category__styles {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 30px;

}

.post__category_buttons strong {
       display: inline-flex;
      justify-content: center;
      padding: 6px 12px;
      margin-right: 10px;
      font-size: 14px;
      color: #000000;
      text-transform: uppercase;
}

.post__category_buttons {
   display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 6px 12px;
    background-color: #000000;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 14px;
    text-transform: uppercase;
    transition: background-color 0.3s;
}

.post__category_buttons:hover {
    background-color: #ffffff;
    color: #000000;
    border: 1px dotted;
}
/*Style POST_CATEGORY END*/

















/*Style cards MEDIA START*/
@media (max-width: 600px) {
  .post {
    flex-basis: 100%;
  }
}
/*Style cards MEDIA END*/

.pageAddPostButton,
.pageLoginButton,
.pageRegisterButton,
.pageEditPostButton{
    display: flex;
    justify-content: space-between;
    align-items: center;
}















