
/*Style buttons START*/
/*Style buttons menu START*/
.button__menu {
    font-family: 'Roboto', sans-serif;
    
    background-color: #ffffff;
    border: 1px dotted;
    color: black;
    padding: 5px 15px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    transition-duration: 0.9s;

    
}
.button__menu:hover {
    background-color: #000000;
    color: white;
 
}

.button__menu-first{
    margin-left: 10px;
}
.button__menu-last{
    margin-right: 10px;
}
/*Style buttons menu END*/


.buttonSimp {
background-color: #9d9d9d;
border-radius: 3px;
color: white;
margin-right: 10px;
padding: 4px 6px;
}

.buttonSimp:hover{
background-color: #9d9d9d;
color: yellow;
box-shadow: 0 0 10px 0;
transition: background-color 0.3s ease;
transform: scale(1.05);
}

.buttonSimpForm {
    background-color: #9d9d9d;
    border-radius: 3px;
    color: white;
    margin-right: 10px;
    padding: 4px 6px;
    font-size: 16px;
    border: none;
    transition: background-color 0.3s ease;
}

.buttonSimpForm:hover{
background-color: #9d9d9d;
color: yellow;
box-shadow: 0 0 10px 0;
transition: background-color 1s, border-color 1s;
transform: scale(1.05);
}

.buttonDel {
    background-color: #9d9d9d;
    border-radius: 3px;
    color: white;
    margin-right: 10px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
}

.buttonDel:hover{
background-color: red;
color: yellow;
box-shadow: 0 0 10px 0;
transition: background-color 1s, border-color 1s;
transform: scale(1.05);
}

/*Style buttons END*/





/*Style POST START*/
.post__button-more{
    background-color: #9d9d9d;;
    color: #ffffff;
    padding: 3px 10px;
    border-radius: 3px;
}


.post__button-more:hover{
background-color: #9d9d9d;
color: yellow;
box-shadow: 0 0 10px 0;
transition: background-color 0.3s ease;
transform: scale(1.05);
}

/*Style POST END*/