{% extends 'base.html' %}

{% block title %}Ошибка 500{% endblock %}

{% block content %}

<div class="wrapper wrapper_shop">

    <h1 style="color:red; margin-bottom: 150px;" class="title_page">Ошибка 500</h1>

    <h2 style="color:red; font-size: 91px;  text-align: center; margin-bottom: 50px;"><b>500</b></h2>
     <p style="color:red; margin-bottom: 150px; line-height: 1.8;">Ошибка 500 — это внутренняя ошибка сервера (Internal Server Error), сообщающая браузеру, что при выполнении запроса возникли непредвиденные проблемы на стороне сервера.
         Она свидетельствует о том, что сервер столкнулся с критической ситуацией, которую не способен решить самостоятельно.</p>

</div>
{% endblock %}