{% extends 'base.html' %}
{% load custom_filters %}

{% block title %}Заказ успешно оформлен{% endblock %}

{% block content %}

<div class="wrapper wrapper_shop">
    <div class="course_style">
        <div>Курс NBRB BYN/USD: {{ rate_usd.rate_usd|floatformat:2 }}</div>
        <div>Курс NBRB BYN/EUR: {{ rate_eur.rate_eur|floatformat:2 }}</div>
    </div>

    <h1 style="color:green" class="title_page">Благодарим за заказ!</h1>

    <div class="product__card-wrapper">
        <div class="product__card">
            <div class="product__card-container">
                <h2 class="product_card__name">Ваш заказ успешно сформирован.</h2>

                <h3>Номер вашего заказа: {{ order.pk }}</h3>

                <p>Дата оформления: {{ order.created_at|date:"d.m.Y H:i" }}</p>

                <p>Сумма заказа: {{ order.total_amount |mul:rate_usd.rate_usd|floatformat:2}} Br</p>

                <p>Мы свяжемся с Вами в ближайшее время для уточнения деталей оплаты и доставки.</p>

            </div>
        </div>

         <div class="product__empty-full-basket-wrapper">
             <div><a href="{% url 'products:cart_view' %}" class="product__button product__button-cont">Корзина</a></div>
             <div><a href="{% url 'products:products' %}" class="product__button product__button-cont">Продолжить покупки</a></div>
         </div>

    </div>
</div>
{% endblock %}