{% extends 'base.html' %}
{% block title %}Корзина{% endblock %}

{% block content %}
<div class="wrapper wrapper_shop">
    <h1 class="title_page title_page-products-basket">🛒 Ваша корзина 🛒</h1>

    {% if products %}
        <table class="product__order-table">
            <thead class="product__order-table-header">
                <tr >
                    <th class="product__order-table-header-product">Товар</th>
                    <th class="product__order-table-header-price">Цена</th>
                    <th class="product__order-table-header-action">Действие</th>
                </tr>
            </thead>
            <tbody>
                {% for product in products %}
                    <tr>
                        <td class="product__cart_product-name">{{ product.name }}</td>
                        <td class="product__cart_product-price">{{ product.price }} руб.</td>
                        <td class="product__cart_product-button">
                            <form method="post" action="{% url 'products:remove_from_cart' product.id %}" style="display:inline;">
                                {% csrf_token %}
                                <button type="submit" class="product__button product__button-del">Удалить</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="product__empty-full-basket-wrapper">
            <div><p class="product__order-total-amount">Итого к оплате: {{ total }} руб.</p></div>
            <div><a class="product__button product__button-cont"  href="{% url 'blog:send_email' %}">Купить</a></div>
            <div><a href="{% url 'products:products' %}" class="product__button product__button-cont">Продолжить покупки</a></div>
        </div>

    {% else %}

        <div class="product__empty-full-basket-wrapper">
            <div class="product__description-empty-basket"><p>Корзина пуста.</p></div>
            <div><a href="{% url 'products:products' %}" class="product__button product__button-cont">Продолжить покупки</a></div>
        </div>
    {% endif %}
</div>
{% endblock %}
