/*Style COMMON START*/
.post__title-all{
font-size: 26px;
font-weight: 700;
text-align: center;
color: black;
}
.post__title-detail{
font-size: 26px;
font-weight: 700;
text-align: left;
color: black;
margin-bottom: 20px;
}
/*Style COMMON END*/


/*Style POST START*/
 .post__title-box{
display: flex;
justify-content: space-between;
align-items: center;
margin-bottom: 15px;
border-bottom: 1px solid #9d9d9d;
}

.post__img {
    border-radius: 5px;
    overflow: hidden;
    transition: transform .3s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    max-width: 100%;
    /* max-height: 200px; */
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;

    &:hover {
        transform: scale(1.01);
    }
}

.post__img_img{
display: block;
width: 100%;
height: auto;
object-fit: cover;
}
/*Style POST START*/



/*Style INFO_ABOUT_POST START*/
.post_info-blok{
    margin-top: 20px;
    margin-bottom: 25px;
    }
.post_info{
    text-align: right;
    color: #2b960b;
}
/*Style INFO_ABOUT_POST end*/


/*Style POST_DETAIL START*/
.post_choice-menu {
margin-top: 60px;
display: flex;
justify-content: space-between;
align-items: center;
}

.post_detail__img{
max-width: 100%;
margin-top: 20px;
margin-bottom: 20px;
text-align: center;
}

.post_detail__img_img{
/*width: 700px;*/
display: block;
width: 100%;
height: auto;
object-fit: contain;
}
/*Style POST_DETAIL END*/







/*Style cards MEDIA START*/
@media (max-width: 600px) {
  .post {
    flex-basis: 100%;
  }
}
/*Style cards MEDIA END*/

.pageAddPostButton,
.pageLoginButton,
.pageRegisterButton,
.pageEditPostButton{
    display: flex;
    justify-content: space-between;
    align-items: center;
}









        





        