<!DOCTYPE html>

<html lang="ru">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

<header>
    <div class="baseMenu">
        <div><img src="{% static 'svg/christmas-tree-svgrepo-com.svg' %}" style="width: 45px;" alt="Christmas tree"></div>
        <div><a class="buttonSimp" href="{% url 'blog:posts' %}">Статьи</a></div>
        <div><a class="buttonSimp" href="{% url 'music:music' %}">Музыка</a></div>
        <div><a class="buttonSimp" href="{% url 'shop:products' %}">Магазин</a></div>





        <div><img src="{% static 'svg/christmas-tree-svgrepo-com.svg' %}" style="width: 45px;" alt="Christmas tree"></div>
    </div>


    <div class="baseMenu">
        <div><img src="{% static 'svg/christmas-tree-svgrepo-com.svg' %}" style="width: 45px;" alt="Christmas tree"></div>
                    {% if user.is_authenticated %}
                        <div><pre>Вы зарегистрированы как:
              <b>{{ user.username }}  </pre></b></div>
                                <form method="post" action="{% url 'registration:logout' %}">
                                    {% csrf_token %}
                                    <button class="buttonSimpForm" type="submit">Выйти</button>
                                </form>
                        {% else %}
                            <div><a class="buttonSimp" href="{% url 'registration:login' %}">Войти</a></div>
                            <div><a class="buttonSimp" href="{% url 'registration:register' %}">Регистрация</a></div>

                    {% endif %}
        <div><img src="{% static 'svg/christmas-tree-svgrepo-com.svg' %}" style="width: 45px;" alt="Christmas tree"></div>
    </div>
</header>




<main>

<div class="wrapper">
    {% block content %}
    <!-- Здесь дочерние шаблоны вставят свой HTML -->
    {% endblock %}
</div>

</main>



<footer class=footer>
    <div class="footerText">
        <small>2025 Учебный проект Django Blog: Alpono24</small>
    </div>
</footer>

</body>

</html>


